<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codingburg.photoeditorpluse">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.codingburg.photoeditorpluse.ArielGarten"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity android:name="com.codingburg.photoeditorpluse.Cantista.Mantid" android:screenOrientation="portrait" />
        <activity android:name="com.codingburg.photoeditorpluse.DirkBikkembergs.julesFrancoisCrahay.Dabdea" android:screenOrientation="portrait" />
        <activity android:name="com.codingburg.photoeditorpluse.Cantista.Lajavab" android:screenOrientation="portrait" />
        <activity android:name="com.codingburg.photoeditorpluse.RuthTarvydas.RichardTyler.Pnanterist" android:screenOrientation="portrait" />
        <activity android:name="com.codingburg.photoeditorpluse.PeterJackson.JennyKee.Bentesta" android:screenOrientation="portrait" />
        <activity android:name="com.codingburg.photoeditorpluse.Cantista.Lantesta" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"  />
        <activity android:name="com.codingburg.photoeditorpluse.Cantista.Prexissesta" android:screenOrientation="portrait" />
        <activity android:name="com.codingburg.photoeditorpluse.Cantista.Zeqale" android:screenOrientation="portrait" />
        <activity android:name="com.codingburg.photoeditorpluse.Cantista.Jentalmenata" android:screenOrientation="portrait" />
        <activity android:name="com.codingburg.photoeditorpluse.Pentagon.AmberRenae.Tempoll" android:screenOrientation="portrait" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/manifast"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.codingburg.photoeditorpluse.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files"/>

        </provider>
    </application>
</manifest>
